<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881933704607-732ispsf6e63v569qh93t6errao6kqqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881933704607-732ispsf6e63v569qh93t6errao6kqqm</string>
	<key>API_KEY</key>
	<string>AIzaSyDgvqE9gIQO3BzBczx0TLKY_y2KLNpKqjo</string>
	<key>GCM_SENDER_ID</key>
	<string>881933704607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.game.rolldicegame</string>
	<key>PROJECT_ID</key>
	<string>felo-bd382</string>
	<key>STORAGE_BUCKET</key>
	<string>felo-bd382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881933704607:ios:8dd0d95e0bfbe6632bf1aa</string>
	<key>DATABASE_URL</key>
	<string>https://felo-bd382.firebaseio.com</string>
</dict>
</plist>